/* *{
  box-sizing: border-box;
  margin:0;
  padding:0;
} */
body {
   display:block;
   font-family: 'Courier New', Courier, monospace;
   justify-content: center;
   height: auto;
   background-color: #e2ebe4;
  }
  .container {
      background-color: rgb(228, 240, 228) ;
      display:flex;
      align-items:center;
      text-align: center;
      width: 100%;
      margin:0 auto;
      padding: 10px;
      box-shadow: center;
      flex-grow:1;
  }
  h1{
    text-align: center;
    padding-top: 1vh;
  }
  .review{
      display:flex;
      align-items: center;
      justify-content: start;
      flex-wrap: wrap;
      box-sizing: border;
      padding-top: 3px;
  }
  #image{
    padding-top: 10px;
    position: relative;
  }
  
   img{
      width: 200px;
      position:relative;
      border-radius: 50%;
      border: 1px solid #d32a8d;
      opacity: 0.9;
  }
  img:hover {
    transform: scaleX(-1);
    transition-delay: 2s;
  }

  .review{
      display:flex;
      justify-content:center;
      text-align: center;
      font-size: 20px;
      flex-wrap: wrap;
      font-weight: bold;
      background: rgba(235, 209, 161, 0.212);
      margin-left: 10rem;
      margin-right: 10rem;
      border-radius: 2%;
      padding-bottom:20px;
  }
  p {
      flex-direction: column;
      background: none ;
      text-align: center;
      color: rgb(83, 83, 90);
      justify-content:space-between;
      align-items: center;
      margin: 10px;
  }
  .prev-btn, .next-btn{
    background:rgb(235, 231, 231);

  }

  @media(max-width = 768px ){
    #image{
      flex-direction: column;
      padding-top: 20px;
    }
    img{
      width:50px;
    }
  }

  