/* *{
  box-sizing: border-box;
  margin:0;
  padding:0;
} */
body {
   display:block;
   font-family: 'Courier New', Courier, monospace;
   justify-content: center;
   height: auto;
   background-color: #e2ebe4;
  }
  .container{
      background-color: green ;
      width: auto;
      max-width: 1100px;
      margin:0 auto;
      height:auto;
      padding: 20px;
      box-shadow: center;
      flex-grow:1;
  }
  h1{
    text-align: center;
    padding-top: 3vh;

  }
  .review{
      align-items: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      box-sizing: border;
  }
  .image{
      margin-left: 26vh;
      margin-bottom:auto; 
  }
  .image img{
      border-radius: 50%;
      border: 1px solid #9ce63b;
      opacity: 0.9;
  }
  img:hover {
    transform: scaleX(-1);
    transition-delay: 2s;
  }
  p {
      text-align:center;
      padding:auto;
  }
  p , info{
      display: block;
      text-align: center;
      align-items: center;
      margin: 20vh;
  }
 .random-btn{
  border-radius:8%;
  border: 2px solid blue;
  margin-left:32rem;
  flex-direction: center;
  height:5vh;
  padding-top:auto;
  
  }

  

  