/* *{
  box-sizing: border-box;
  margin:0;
  padding:0;
} */
body {
   display:block;
   font-family: 'Courier New', Courier, monospace;
   justify-content: center;
   height: auto;
   background-color: #e2ebe4;
  }
  .container{
      background-color: green ;
      display:flex;
      align-items:center;
      text-align: center;
      width: auto;
      max-width: 1100px;
      margin:0 auto;
      height:auto;
      padding: 20px;
      box-shadow: center;
      flex-grow:1;
  }
  h1{
    text-align: center;
    padding-top: 3vh;

  }
  .review{
      display:flex;
      align-items: center;
      justify-content: start;
      flex-wrap: wrap;
      box-sizing: border;
  }

  .image img{
      display:flex;
      justify-content:center;
      align-items: center;
      margin: 0 auto 0;
      border-radius: 50%;
      border: 1px solid #9ce63b;
      opacity: 0.9;
  }
  img:hover {
    transform: scaleX(-1);
    transition-delay: 2s;
  }
  .review{
      display:flex;
      justify-content:center;
      text-align: center;
      font-size: 3vh;
      flex-wrap: wrap;
      font-weight: 20px;
      background: orange;
      height:100%;
      margin-left: 10rem;
      margin-right: 10rem;
      border-radius: 10%;
      flex-direction: row;
      padding-bottom:5px;
  }
  p {
      flex-direction: column;
      background: none ;
      text-align: center;
      color: blue;
      justify-content:space-between;
      align-items: center;
      margin: 20px;
  }


  

  